@import url(fontiran.css); /* لینک فایلی که وظیفه بارگذاری فونت ها را برعهده دارد */

body {
  font-family: IRANSans !important;
  font-weight: 300;
  direction: rtl;
  background-color: #161616;
  margin: 0;
}
/* 
:root {
  font-family: IRANSans !important;
  font-weight: 300;
  direction: rtl;
  background-color: #e2e2e2;
  margin: 0;
} */

div:has(> ul[role="menu"]) {
  right: 16px !important;
  left: 70% !important;
  top: 64px !important;
  text-align: center;
}

div:has(> ul[role="menu"]) ul {
  display: flex;
  flex-direction: column;
}

div:has(> ul[role="menu"]) ul li {
  justify-content: center;
}

p,
a,
span,
h1,
h2,
h3,
h4,
h5,
h6,
div,
input,
button,
textarea,
ul > li {
  font-family: IRANSans !important;
  color: #f2f2f2;
  text-decoration: none;
}

.product-label {
  background-color: red;
  position: absolute;
  right: 4px;
  top: -7px;
  padding: 0 0.5rem;
  border-radius: 50%;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

.container-footer {
  position: relative;
  direction: rtl;
  width: 100%;
  height: 100%;
}

.container-footer h2 {
  font-size: 1.2rem;
  font-weight: 500;
  white-space: 2px;
  color: rgb(160, 204, 0);
}

.container-footer .paragraph {
  text-align: justify;
  width: 100%;
  color: #fff;
  font-size: medium;
  font-weight: 400;
  line-height: 1.7rem;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 2rem;
}

.list {
  margin: 1rem;
  padding: 0;
}

.list-items {
  color: #ddd;
  font-size: 1rem;
  font-weight: 100;
  list-style-type: none;
  position: relative;
  padding: 0.5rem 1rem;
  transition: all 500ms ease;
  cursor: pointer;
}

.list-items:hover {
  color: #fff;
}

.lable-green::before {
  content: "محبوب";
  width: fit-content;
  position: absolute;
  padding: 0 2px;
  border-radius: 5px;
  left: -10px;
  font-size: 10px;
  font-weight: 100;
  background-color: #4caf50;
}

.lable-red::before {
  content: "جدید";
  width: fit-content;
  position: absolute;
  padding: 0 2px;
  border-radius: 5px;
  left: -10px;
  font-size: 10px;
  font-weight: 100;
  color: #fff;
  background-color: red;
}

.hr::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0.5;
  border-bottom: 1px solid #ddd;
}

.work-time-header {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  display: block;
  margin: 1rem 2rem 2rem;
}

.work-time {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  display: block;
  width: 240px;
  line-height: 1.5rem;
  margin: 0 2rem 2rem;
}

.call-us .title {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  display: block;
  margin: 1rem 2rem 1.5rem;
}

.call-us .email {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  display: block;
  margin: 0 2rem 0;
}

.call-us .email a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  margin: 0 1rem;
}

.call-us .phone {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  display: block;
  margin: 1.5rem 2rem 1rem;
}

.links img {
  border-radius: 1rem;
  width: 90px;
  height: 120px;
  padding: 0.3rem;
  margin-right: 6rem;
  background-color: #fff;
  cursor: pointer;
}

.copyright-footer {
  color: #2ed573;
  margin: 4px;
  font-size: 1.2rem;
  font-weight: 500;
}

.copyright {
  color: #abb8c3;
  font-size: 1rem;
  font-weight: 400;
  margin: 2rem auto 0 auto;
  text-align: center;
}

.custom-divider-bottom {
  padding: 1rem 0;
  background-color: #393939;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 20px auto;
  transform: translate(-50%, -55%);
  background: rgba(0, 0, 0, 0.9);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.login-box p:first-child {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  direction: ltr;
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 245px;
  color: #fff;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-weight: bold;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 3px;
  float: left;
}

.login-box a:hover {
  background: #fff;
  color: #272727;
  border-radius: 5px;
  cursor: pointer;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #fff);
  animation: btn-anim1 1.5s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #fff);
  animation: btn-anim2 1.5s linear infinite;
  animation-delay: 0.375s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #fff);
  animation: btn-anim3 1.5s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #fff);
  animation: btn-anim4 1.5s linear infinite;
  animation-delay: 1.125s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}

.colored-toast.swal2-icon-success {
  background-color: #a5dc86 !important;
}

.colored-toast.swal2-icon-error {
  background-color: #f27474 !important;
}

.colored-toast.swal2-icon-warning {
  background-color: #f8bb86 !important;
}

.colored-toast.swal2-icon-info {
  background-color: #3fc3ee !important;
}

.colored-toast .swal2-title {
  color: white;
}

.colored-toast .swal2-close {
  color: white;
}

.colored-toast .swal2-html-container {
  color: white;
}
